<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>latitude</key>
		<real>44.886985899999999</real>
		<key>longitude</key>
		<real>-123.0776661</real>
	</dict>
	<key>10</key>
	<dict>
		<key>latitude</key>
		<real>44.996976749286567</real>
		<key>longitude</key>
		<real>-122.97376147967331</real>
	</dict>
	<key>2</key>
	<dict>
		<key>latitude</key>
		<real>44.921482300000001</real>
		<key>longitude</key>
		<real>-123.05293880000001</real>
	</dict>
	<key>3</key>
	<dict>
		<key>latitude</key>
		<real>44.938048539361063</real>
		<key>longitude</key>
		<real>-123.03055566953779</real>
	</dict>
	<key>4</key>
	<dict>
		<key>latitude</key>
		<real>44.906395699999997</real>
		<key>longitude</key>
		<real>-123.0456878</real>
	</dict>
	<key>5</key>
	<dict>
		<key>latitude</key>
		<real>44.951434999999996</real>
		<key>longitude</key>
		<real>-123.026414</real>
	</dict>
	<key>6</key>
	<dict>
		<key>latitude</key>
		<real>44.947060800000003</real>
		<key>longitude</key>
		<real>-122.98608780000001</real>
	</dict>
	<key>7</key>
	<dict>
		<key>latitude</key>
		<real>44.958819499999997</real>
		<key>longitude</key>
		<real>-123.02901369999999</real>
	</dict>
	<key>8</key>
	<dict>
		<key>latitude</key>
		<real>44.959164700000002</real>
		<key>longitude</key>
		<real>-123.0274618</real>
	</dict>
	<key>9</key>
	<dict>
		<key>latitude</key>
		<real>44.899982999999999</real>
		<key>longitude</key>
		<real>-123.043539</real>
	</dict>
</dict>
</plist>
