<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>latitude</key>
		<real>44.8869859</real>
		<key>longitude</key>
		<real>-123.0776661</real>
	</dict>
	<key>10</key>
	<dict>
		<key>latitude</key>
		<real>44.99697674928657</real>
		<key>longitude</key>
		<real>-122.9737614796733</real>
	</dict>
	<key>11</key>
	<dict>
		<key>latitude</key>
		<real>44.9457212</real>
		<key>longitude</key>
		<real>-122.9938629</real>
	</dict>
	<key>12</key>
	<dict>
		<key>latitude</key>
		<real>44.9277182</real>
		<key>longitude</key>
		<real>-123.0169205</real>
	</dict>
	<key>13</key>
	<dict>
		<key>latitude</key>
		<real>44.9615626</real>
		<key>longitude</key>
		<real>-122.9916152</real>
	</dict>
	<key>14</key>
	<dict>
		<key>latitude</key>
		<real>44.91727447828517</real>
		<key>longitude</key>
		<real>-123.0488692743591</real>
	</dict>
	<key>15</key>
	<dict>
		<key>latitude</key>
		<real>44.9368024</real>
		<key>longitude</key>
		<real>-123.0145671</real>
	</dict>
	<key>16</key>
	<dict>
		<key>latitude</key>
		<real>44.9010812</real>
		<key>longitude</key>
		<real>-123.0271963</real>
	</dict>
	<key>17</key>
	<dict>
		<key>latitude</key>
		<real>44.9323837</real>
		<key>longitude</key>
		<real>-123.0241526</real>
	</dict>
	<key>18</key>
	<dict>
		<key>latitude</key>
		<real>44.97209353560792</real>
		<key>longitude</key>
		<real>-123.0762618881298</real>
	</dict>
	<key>19</key>
	<dict>
		<key>latitude</key>
		<real>44.86943453768406</real>
		<key>longitude</key>
		<real>-123.0574733534248</real>
	</dict>
	<key>2</key>
	<dict>
		<key>latitude</key>
		<real>44.9214823</real>
		<key>longitude</key>
		<real>-123.0529388</real>
	</dict>
	<key>20</key>
	<dict>
		<key>latitude</key>
		<real>44.9097166797487</real>
		<key>longitude</key>
		<real>-123.0391352970791</real>
	</dict>
	<key>21</key>
	<dict>
		<key>latitude</key>
		<real>44.93770121825577</real>
		<key>longitude</key>
		<real>-123.0804164524529</real>
	</dict>
	<key>22</key>
	<dict>
		<key>latitude</key>
		<real>44.9658577</real>
		<key>longitude</key>
		<real>-122.991063</real>
	</dict>
	<key>23</key>
	<dict>
		<key>latitude</key>
		<real>44.9467619</real>
		<key>longitude</key>
		<real>-123.0104678</real>
	</dict>
	<key>24</key>
	<dict>
		<key>latitude</key>
		<real>44.95616463637533</real>
		<key>longitude</key>
		<real>-123.0602491799688</real>
	</dict>
	<key>25</key>
	<dict>
		<key>latitude</key>
		<real>44.9703715</real>
		<key>longitude</key>
		<real>-123.0335398</real>
	</dict>
	<key>26</key>
	<dict>
		<key>latitude</key>
		<real>44.88733887636153</real>
		<key>longitude</key>
		<real>-123.0363340633186</real>
	</dict>
	<key>27</key>
	<dict>
		<key>latitude</key>
		<real>44.9618644216871</real>
		<key>longitude</key>
		<real>-123.088234270235</real>
	</dict>
	<key>28</key>
	<dict>
		<key>latitude</key>
		<real>44.9898987</real>
		<key>longitude</key>
		<real>-122.9603245</real>
	</dict>
	<key>29</key>
	<dict>
		<key>latitude</key>
		<real>44.9279198</real>
		<key>longitude</key>
		<real>-122.9982765</real>
	</dict>
	<key>3</key>
	<dict>
		<key>latitude</key>
		<real>44.901951</real>
		<key>longitude</key>
		<real>-123.0608873</real>
	</dict>
	<key>30</key>
	<dict>
		<key>latitude</key>
		<real>44.9626856</real>
		<key>longitude</key>
		<real>-122.9789169</real>
	</dict>
	<key>31</key>
	<dict>
		<key>latitude</key>
		<real>44.93989280147317</real>
		<key>longitude</key>
		<real>-123.0875519799239</real>
	</dict>
	<key>32</key>
	<dict>
		<key>latitude</key>
		<real>44.97980667183364</real>
		<key>longitude</key>
		<real>-123.0878830121124</real>
	</dict>
	<key>33</key>
	<dict>
		<key>latitude</key>
		<real>44.94275635619223</real>
		<key>longitude</key>
		<real>-123.0832099736366</real>
	</dict>
	<key>34</key>
	<dict>
		<key>latitude</key>
		<real>44.98237050714584</real>
		<key>longitude</key>
		<real>-122.9882161698391</real>
	</dict>
	<key>35</key>
	<dict>
		<key>latitude</key>
		<real>44.9942309</real>
		<key>longitude</key>
		<real>-122.9560688</real>
	</dict>
	<key>36</key>
	<dict>
		<key>latitude</key>
		<real>44.89001656349964</real>
		<key>longitude</key>
		<real>-123.0291856991521</real>
	</dict>
	<key>37</key>
	<dict>
		<key>latitude</key>
		<real>44.96043422309808</real>
		<key>longitude</key>
		<real>-123.0670739937612</real>
	</dict>
	<key>38</key>
	<dict>
		<key>latitude</key>
		<real>44.8742279</real>
		<key>longitude</key>
		<real>-123.0032772</real>
	</dict>
	<key>39</key>
	<dict>
		<key>latitude</key>
		<real>44.951539</real>
		<key>longitude</key>
		<real>-123.066411</real>
	</dict>
	<key>4</key>
	<dict>
		<key>latitude</key>
		<real>44.9063957</real>
		<key>longitude</key>
		<real>-123.0456878</real>
	</dict>
	<key>40</key>
	<dict>
		<key>latitude</key>
		<real>44.87452681138451</real>
		<key>longitude</key>
		<real>-123.067244480644</real>
	</dict>
	<key>41</key>
	<dict>
		<key>latitude</key>
		<real>44.87262938946179</real>
		<key>longitude</key>
		<real>-123.0345047594419</real>
	</dict>
	<key>42</key>
	<dict>
		<key>latitude</key>
		<real>44.8684503</real>
		<key>longitude</key>
		<real>-123.0299985</real>
	</dict>
	<key>43</key>
	<dict>
		<key>latitude</key>
		<real>44.90068897497205</real>
		<key>longitude</key>
		<real>-123.1115154094011</real>
	</dict>
	<key>44</key>
	<dict>
		<key>latitude</key>
		<real>44.9078742</real>
		<key>longitude</key>
		<real>-122.9669117</real>
	</dict>
	<key>45</key>
	<dict>
		<key>latitude</key>
		<real>44.95770965304587</real>
		<key>longitude</key>
		<real>-122.9705596500249</real>
	</dict>
	<key>46</key>
	<dict>
		<key>latitude</key>
		<real>44.95489999050127</real>
		<key>longitude</key>
		<real>-123.0799956789239</real>
	</dict>
	<key>47</key>
	<dict>
		<key>latitude</key>
		<real>44.92511973774066</real>
		<key>longitude</key>
		<real>-123.0722527603618</real>
	</dict>
	<key>48</key>
	<dict>
		<key>latitude</key>
		<real>44.94333409922389</real>
		<key>longitude</key>
		<real>-123.0420802051484</real>
	</dict>
	<key>49</key>
	<dict>
		<key>latitude</key>
		<real>44.95622854908959</real>
		<key>longitude</key>
		<real>-123.0661772099781</real>
	</dict>
	<key>5</key>
	<dict>
		<key>latitude</key>
		<real>44.951435</real>
		<key>longitude</key>
		<real>-123.026414</real>
	</dict>
	<key>50</key>
	<dict>
		<key>latitude</key>
		<real>44.9773545</real>
		<key>longitude</key>
		<real>-123.0076815</real>
	</dict>
	<key>51</key>
	<dict>
		<key>latitude</key>
		<real>44.89333498643262</real>
		<key>longitude</key>
		<real>-123.0732705081175</real>
	</dict>
	<key>53</key>
	<dict>
		<key>latitude</key>
		<real>44.95027979010319</real>
		<key>longitude</key>
		<real>-123.0359038518964</real>
	</dict>
	<key>54</key>
	<dict>
		<key>latitude</key>
		<real>44.96458004055629</real>
		<key>longitude</key>
		<real>-123.0801356124579</real>
	</dict>
	<key>55</key>
	<dict>
		<key>latitude</key>
		<real>44.9295374</real>
		<key>longitude</key>
		<real>-123.0317189</real>
	</dict>
	<key>58</key>
	<dict>
		<key>latitude</key>
		<real>44.9436794</real>
		<key>longitude</key>
		<real>-123.0279548</real>
	</dict>
	<key>6</key>
	<dict>
		<key>latitude</key>
		<real>44.9470608</real>
		<key>longitude</key>
		<real>-122.9860878</real>
	</dict>
	<key>60</key>
	<dict>
		<key>latitude</key>
		<real>44.945605</real>
		<key>longitude</key>
		<real>-123.038715</real>
	</dict>
	<key>62</key>
	<dict>
		<key>latitude</key>
		<real>44.94339491340802</real>
		<key>longitude</key>
		<real>-123.0515340362303</real>
	</dict>
	<key>63</key>
	<dict>
		<key>latitude</key>
		<real>44.93652688485746</real>
		<key>longitude</key>
		<real>-123.0384382738801</real>
	</dict>
	<key>64</key>
	<dict>
		<key>latitude</key>
		<real>44.93442</real>
		<key>longitude</key>
		<real>-123.038424</real>
	</dict>
	<key>66</key>
	<dict>
		<key>latitude</key>
		<real>44.877812588287</real>
		<key>longitude</key>
		<real>-123.0109352612158</real>
	</dict>
	<key>68</key>
	<dict>
		<key>latitude</key>
		<real>44.937</real>
		<key>longitude</key>
		<real>-123.042</real>
	</dict>
	<key>69</key>
	<dict>
		<key>latitude</key>
		<real>44.951057</real>
		<key>longitude</key>
		<real>-123.0445254</real>
	</dict>
	<key>7</key>
	<dict>
		<key>latitude</key>
		<real>44.9588195</real>
		<key>longitude</key>
		<real>-123.0290137</real>
	</dict>
	<key>70</key>
	<dict>
		<key>latitude</key>
		<real>44.8621054</real>
		<key>longitude</key>
		<real>-123.027555</real>
	</dict>
	<key>71</key>
	<dict>
		<key>latitude</key>
		<real>44.9272063</real>
		<key>longitude</key>
		<real>-123.036941</real>
	</dict>
	<key>72</key>
	<dict>
		<key>latitude</key>
		<real>44.9085283</real>
		<key>longitude</key>
		<real>-122.9887022</real>
	</dict>
	<key>73</key>
	<dict>
		<key>latitude</key>
		<real>44.933847</real>
		<key>longitude</key>
		<real>-123.03765</real>
	</dict>
	<key>74</key>
	<dict>
		<key>latitude</key>
		<real>44.9051904</real>
		<key>longitude</key>
		<real>-123.0731647</real>
	</dict>
	<key>75</key>
	<dict>
		<key>latitude</key>
		<real>44.9716729</real>
		<key>longitude</key>
		<real>-122.9941708</real>
	</dict>
	<key>76</key>
	<dict>
		<key>latitude</key>
		<real>44.858265</real>
		<key>longitude</key>
		<real>-123.02551</real>
	</dict>
	<key>77</key>
	<dict>
		<key>latitude</key>
		<real>44.9289446</real>
		<key>longitude</key>
		<real>-123.0134195</real>
	</dict>
	<key>78</key>
	<dict>
		<key>latitude</key>
		<real>44.9458673</real>
		<key>longitude</key>
		<real>-122.9630551</real>
	</dict>
	<key>79</key>
	<dict>
		<key>latitude</key>
		<real>44.9017718</real>
		<key>longitude</key>
		<real>-123.0345668</real>
	</dict>
	<key>8</key>
	<dict>
		<key>latitude</key>
		<real>44.9591647</real>
		<key>longitude</key>
		<real>-123.0274618</real>
	</dict>
	<key>80</key>
	<dict>
		<key>latitude</key>
		<real>44.87869664531623</real>
		<key>longitude</key>
		<real>-123.0452135693858</real>
	</dict>
	<key>81</key>
	<dict>
		<key>latitude</key>
		<real>44.891241</real>
		<key>longitude</key>
		<real>-123.069217</real>
	</dict>
	<key>82</key>
	<dict>
		<key>latitude</key>
		<real>44.94568750922746</real>
		<key>longitude</key>
		<real>-122.9790635965197</real>
	</dict>
	<key>83</key>
	<dict>
		<key>latitude</key>
		<real>44.8877557</real>
		<key>longitude</key>
		<real>-123.0568279</real>
	</dict>
	<key>84</key>
	<dict>
		<key>latitude</key>
		<real>44.8768037</real>
		<key>longitude</key>
		<real>-123.0144372</real>
	</dict>
	<key>85</key>
	<dict>
		<key>latitude</key>
		<real>44.9578266</real>
		<key>longitude</key>
		<real>-123.080363</real>
	</dict>
	<key>86</key>
	<dict>
		<key>latitude</key>
		<real>44.94055316029251</real>
		<key>longitude</key>
		<real>-123.0631581989961</real>
	</dict>
	<key>87</key>
	<dict>
		<key>latitude</key>
		<real>44.933635</real>
		<key>longitude</key>
		<real>-123.0175966</real>
	</dict>
	<key>9</key>
	<dict>
		<key>latitude</key>
		<real>44.899983</real>
		<key>longitude</key>
		<real>-123.043539</real>
	</dict>
</dict>
</plist>
